body {
	background-color: #133783;
	font-family:sans-serif;
}
div#container {
	background-color:#eee;
	width:300px;
	margin: 160px auto 0;
	padding-top:1px;
	text-align:center;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	-khtml-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
}
p {
	border: 2px dashed red;
	background-color: #FF4A4A;
	font-size: 12px;
	margin: 4px;
	padding: 4px;
	padding-left: 110px;
	background-image: url('errorSign.png');
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
}
table {
	margin:0 auto;
	text-align:left;
	margin-bottom: 10px;
	
}
