body {
	background-color:#CFCFFF;
	font-family:serif;
}
div#container {
	background-color:#eee;
	width:300px;
	margin:0 auto;
	padding-top:1px;
	text-align:center;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	-khtml-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
}
table {
	margin:0 auto;
}
